:root {
  --primary-color: #242424;   /* Colore principale */
  --shadow-color: #343434;    /* Colore di contrasto del colore principale (colore del body) */
  --secondary-color: #f3db04; /* Colore di contrasto principale (h1, titoli, bottoni, ecc.) */
  --success-color: #f06c2a;   /* Colore d'effetto al click di link/bottoni tramite hover, active, ecc. */
  --danger-color: #dc3545;    /* Colore di errore */

  --font-family-base: "Roboto", system-ui; /* Determinato! */
  --text-color: #ffff;
}


body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-base);
  color: var(--text-color);
  background-color: var(--shadow-color);
}

.header, footer {
  background-color: var(--primary-color);
}

/* --------> START FOOTER <-------- */
.icon-size {
  transform: scale(1.6);
  color: white;
}
.custom-link-footer {
  font-size: 24px;
  text-decoration: none;
  text-align: center;
  color: var(--secondary-color);
}

@media (min-width: 768px) {
  .responsive-flex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }
  .icon-size {
    margin: 20px;
  }
  .link-esterni-responsive {
    margin-left: 140px;  }
}
.custom-link-footer {
  margin-left: 16px;
  margin-right: 26px;
}

/* --------> END FOOTER <-------- */

h1, .btn-primary {
  color: var(--secondary-color);
}

a:hover, a:active, button:active {
  color: var(--success-color);
}

.error {
  color: var(--danger-color);
}
